h1.visible {
    visibility: visible
}

h1.hidden {
    visibility: hidden
}

.FlashText {
    margin-left: 12px;
    margin-right: 12px;
    font-size: 66.5px;
    font-weight: bold;
    font-family: cursive;
    color: deeppink;
    display: none;
}

#AnimalBox
{
border: 5px solid black; width: 300px; height: 230px; text-align: center;
}


#FlipCardButtonPosition{
    width:300px;
}
#AnimalPicture
{
    width:300px;
     height:230px;
}
.cardcontainer
{
     margin:auto;
      max-width: 500px;
}
.leftbtn { float:left;}
.rightbtn { float: right; }